<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Melodii</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Lista Melodii</h1>
        <ul class="list-group">
            {% for mp3_file in mp3_files %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ mp3_file }}
                <button class="btn btn-primary" onclick="playMusic('{{ mp3_file }}')">Play</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script>
        function playMusic(filename) {
            var audio = new Audio('/music/' + filename);  // Path to MP3 file
            if (audio.paused) {
                audio.play();
            } else {
                audio.pause();
            }
        }
    </script>
</body>
</html>
